*{margin: 0;
padding: 0;
}
body{
font-family: ITC Avant Garde Gothic Std;
 background: #F2F2F2 !important; 
 }
 
/* header */
.header-container{background-color: #FF5349;
width: 1920px;
height:763px;
color:#FFFFFF;


}
/* header row */
.h-row{display: flex !important;
    text-align: center;
    justify-content: center;
    padding-top: 50px;
    gap:20px;
    

}
/* header-img */
.header-img{width:66px;
    height: 66px;
}
/* media query */
@media(max-width:500px){
    .header-img{width: 40px;
    height: 40px;}
    .h-col-right h1{font-size: 25px;}
    .h-row{gap: 14px;}
}

/* header content and img */
.headerContent-row{display: flex;
padding-top: 40px;
padding-left:20px ;
padding-right: 20px;
}
.hcontent-left{flex-basis: 50%;
}
.hcontent-right{flex-basis: 50%;}
.hcontent-img{width: 389px;
height: 620px;}

.hcontent-left h1{
    font-size:45px;
    font-weight: 600;
}

.hcontent-left{display: flex;
flex-direction:column;
align-items: center;
gap:20px;}
.hcontent-left button{width:243px;
    height: 50px;
    border: none;
    color: #FF5349;
    background-color: #FFFFFF;

border-radius: 12px;}

/* media query */
@media(max-width:800px){.headerContent-row{display:flex;
flex-direction:column;}}

@media(max-width:576px){.hcontent-left h1{
    font-size:25px;

}
.hcontent-left{ display: flex;
    flex-direction: column;
    gap:5px;}
.headerContent-row{
    display: flex;
    flex-direction: column;
    gap : 40px;
}
.hcontent-img{width: 60%;}}

/* section2 */
.section2{
    margin-top: 40px;
    max-width: 2000px;
display: flex;
flex-direction: column;
text-align: center;
justify-content: center;
align-items: center;




}

.section2-row {
  display: flex;
  flex-wrap: wrap;
  gap:20px;
  width: 80%;
  justify-content: center;
  


  
}
/* three column per row */
.section2-card{
    flex-basis: 30.33%;
    padding: 20px 22px;
  border-radius: 10px;
  background: #F2F2F2;
  color:black;
  
  border: 1px solid rgba(148, 163, 184, 0.35);
  transition: transform 0.2s ease, box-shadow 0.2s ease, border-color 0.2s ease;
  gap: 8px;
}
@media(max-width:800px){
    .section2-card{flex-basis: 48%;}
}
@media(max-width:576px){.section2-card{flex-basis: 100%;}
.section2-p{font-size: 16px !important;
font-weight: 300;}}


/* section3 */
.section3{max-width:2000px;
    margin-top: 80px;
    align-items: center;
}
/* section3-row */
.section3-row{display: flex;
justify-content:center;
flex-wrap: wrap;
gap:20px;
padding : 5px 140px;}
/* section3-left-col */
.section3-left-col{flex-basis: 48%;
}
/* img-parent */
.img-parent{width: 403px;
height: 403px;
background: #FF5349;
border-radius: 50%;}
/* cirleImg-left */
.cirleImg-left{width: 306px;
height: 401px;
position: relative;
bottom: 10px;
right: 40px;}
.cirleImg-right{width:322px;
height: 527px;
position: relative;
bottom: 450px;
left:170px}
/* section3-right-col */
.section3-right-col{
    flex-basis: 48%;
  
}
.section3-right-cols{ 
    flex-basis: 90%;
    padding: 20px 22px;
  border-radius: 10px;
  background:#F2F2F2;
  color:black;
  /* box-shadow: 0 18px 40px rgba(15, 23, 42, 0.6); */
  border: 1px solid rgba(148, 163, 184, 0.35);
  transition: transform 0.2s ease, box-shadow 0.2s ease, border-color 0.2s ease;
  gap: 8px;}
  /* section3-right-col-div */
  .section3-right-col-div{display: flex;
flex-direction:column;
gap:20px;}

@media(max-width:800px){.section3-right-col{flex: 90%;
margin-top: 50px;}
.section3-left-col{flex-basis: 90%;}}

@media(max-width:576px){.section3-right-cols{width: 300px;}
.section3-row{padding-left: 170px;}
.img-parent{width: 303px;
height: 303px;
background: #FF5349;
border-radius: 50%;}
.cirleImg-left{width: 206px;
height: 301px;
position: relative;
bottom: 10px;
right: 40px;}
.cirleImg-right{width:220px;
height: 427px;
position: relative;
bottom: 400px;
left:100px}
.section3{margin-top: 130px;}
}